body {
	margin:18px 30px 0 30px;
	font-size:13px;
}

a {
	font-family:sans-serif;
	text-decoration:none;
	color:#555555;
}

a:hover {
	text-decoration:underline;
}

.headerMenu {
	float:right;
	margin:0 0 0 15px;
	height:25px;
	line-height:25px;
}

#headerApp img {
	opacity: 0.7;
}

#headerApp img:hover {
	opacity: 1.0;
}

.headerMenu button {
	background-color:#4285f4;
	border: 1px solid #4285f4;
	padding:6px 12px;
	border-radius: 2px;
	color:#ffffff;
	font-weight:bold;
}

.headerMenu button:active {
	background-color:#3c78dc;
}

.clear {
	clear:both;
}

#logo {
	margin:150px auto 0 auto;
	width:100%;
	text-align:center;
}

#searchBox {
	margin-top:30px;
	width:100%;
	text-align:center;
}

#searchBox form input {
	border:solid 1px #b9b9b9;
	height:36px;
	width:50%;
}

#searchBox form input:hover {
	border:solid 1px #a0a0a0;
}