body {
	background-color:#ffffff;
	margin:18px 0 0 0;
	font-size:13px;
}

a {
	font-family:sans-serif;
	text-decoration:none;
	color:#555555;
}

a:hover {
	text-decoration:underline;
}

#head {
	margin:0 30px 0 30px;
}

.headerMenu {
	float:right;
	margin:0 0 0 15px;
	height:25px;
	line-height:25px;
}

#headerApp img {
	opacity: 0.7;
}

#headerApp img:hover {
	opacity: 1.0;
}

.headerMenu button {
	background-color:#4285f4;
	border: 1px solid #4285f4;
	padding:6px 12px;
	border-radius: 2px;
	color:#ffffff;
	font-weight:bold;
}

.headerMenu button:active {
	background-color:#3c78dc;
}

.clear {
	clear:both;
}

#logo {
	margin:150px auto 0 auto;
	width:100%;
	text-align:center;
}

#searchBox {
	margin-top:30px;
	width:100%;
	text-align:center;
}

#searchBox form input {
	border:solid 1px #b9b9b9;
	height:36px;
	width:40%;
	min-width:400px;
	max-width: 550px;
}

#searchBox form input:hover {
	border:solid 1px #a0a0a0;
}

#searchBox button {
	background-color:#f2f2f2;
	border:solid 1px #f2f2f2;
	border-radius:2px;
	margin:20px 5px;
	padding:9px 15px;
	font-weight:bold;
	color:#757575;
}

#searchBox button:hover {
	background:#f8f8f8;
	border:solid 1px #c6c6c6;
	border-radius:2px;
}

#footer {
	position:absolute;
	bottom:0;
	height:40px;
	width:100%;
	line-height:40px;
	background-color:#f2f2f2;
	border-top:1px solid #e4e4e4;
}

.footerMenu {
	display:inline-block;
	font-family:sans-serif;
}

#footer .left {
	float:left;
	margin-left:25px;
}

#footer .right {
	float:right;
	margin-right:25px;
}